// @media (min-width: 576px)  //sm
// @media (min-width: 768px)  //md
// @media (min-width: 992px)  //lg
// @media (min-width: 1200px) //xl
// @media (min-width: 1400px) //xxl
// @media (min-width: 1600px) //xxxl
// @media (min-width: 1920px) //xxxxl //未開放

//Breakpoints
$bg-sm: 576
$bp-sm: 576
$bp-md: 768
$bp-lg: 992
$bp-xl: 1200
$bp-xxl: 1400
$bp-xxxl: 1600
$bp-xxxxl: 1920

:root
  //Colors
  --color-major: #E2F2F2
  --color-major-50: #FFFFFF
  --color-major-100: #FFFFFF
  --color-major-200: #FFFFFF
  --color-major-300: #FFFFFF
  --color-major-400: #FEFFFF
  --color-major-500: #E2F2F2
  --color-major-600: #BBE1E1
  --color-major-700: #95CFCF
  --color-major-800: #6EBEBE
  --color-major-900: #4BA8A8
  --color-major-950: #439595

  --color-minor: #11346B
  --color-minor-50: #5089E3
  --color-minor-100: #3F7EE0
  --color-minor-200: #2267D5
  --color-minor-300: #1C56B1
  --color-minor-400: #17458E
  --color-minor-500: #11346B
  --color-minor-600: #091C3B
  --color-minor-700: #02050A
  --color-minor-800: #000000
  --color-minor-900: #000000
  --color-minor-950: #000000

  --color-success:     #64a168
  --color-success-50:  #f5fcf0
  --color-success-100: #e1f3d7
  --color-success-200: #c7e6bd
  --color-success-300: #a9d5a0
  --color-success-400: #86be83
  --color-success-500: #64a168
  --color-success-600: #5e8760
  --color-success-700: #4e644f
  --color-success-800: #323b33
  --color-success-900: #0e0f0e

  --color-warning:     #f1cd28
  --color-warning-50:  #fffdf0
  --color-warning-100: #fffbd1
  --color-warning-200: #fff9b0
  --color-warning-300: #fceb7b
  --color-warning-400: #f9df62
  --color-warning-500: #f1cd28
  --color-warning-600: #ccb02e
  --color-warning-700: #9f8b2f
  --color-warning-800: #695e28
  --color-warning-900: #302c17

  --color-error:     #DA3932
  --color-error-50:  #F6CFCE
  --color-error-100: #F3BFBC
  --color-error-200: #ED9D9A
  --color-error-300: #E67C77
  --color-error-400: #E05A55
  --color-error-500: #DA3932
  --color-error-600: #B42720
  --color-error-700: #841C18
  --color-error-800: #54120F
  --color-error-900: #250807